Number 1: 
<input type="number" name="number1" id="num">

<button OnClick="GetRandom1()" type="button">Random Number</button>
<script>
    function GetRandom1()
    {
        var myElement = document.getElementById("num")
        myElement.value = Math.round((Math.random() * 10) + 0)
    }
</script>

Number 2:
<input type="number" name="number2" id="num2">
<button OnClick="GetRandom2()" type="button">Random Number</button>
<script>
        function GetRandom2()
        {
            var myElement = document.getElementById("num2")
            myElement.value = Math.round((Math.random() * 10) + 0)
        }
</script>

Number 3: 
<input type="number" name="number3" id="num3">

<button OnClick="GetRandom3()" type="button">Random Number</button>
<script>
        function GetRandom3()
        {
            var myElement = document.getElementById("num3")
            myElement.value = Math.round((Math.random() * 10) + 0)
        }
</script>