<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel='stylesheet' href='https://bootswatch.com/4/journal/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://bootswatch.com/4/united/bootstrap.min.css'>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %} 
        <title> {{ title }}</title>
    {% else %}
        <title>Win Big</title>
    {% endif %}
</head>
<h1 style="text-align: center;" class="display-3">WIN BIG</h1>
<p style="text-align: center;" class="display-9">Turn $2 to $500 right now! </p>

<div class="text-center">
    <!-- <img src="https://previews.123rf.com/images/maxxyustas/maxxyustas1501/maxxyustas150100004/35275617-packs-of-dollars-background-lots-of-cash-money-3d.jpg" class="rounded" style="width:700px;height:500px;" alt="Money"> -->
</div>

<div class="col-xs-1 text-center">
<body>
    <a href="/">Home</a>
    {% block body %} {% endblock body %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</div>
</html>