{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="text-left" style="display:inline-block;vertical-align:middle;">
            <h5>Picked Numbers: </h5>
            {% for ticket in tickets %}
            <li>{{ ticket.number1 }} {{ ticket.number2 }} {{ ticket.number3 }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<br>
<h5>Wining Numbers:
{% for num in winning_nums %}
{{ num }}
{% endfor %}
</h5>
<br>
Number of Wins: {{ win }}
<br>
Nmber of Tickets Played: {{ count }}
<br>
<!-- Your Win: ${{ cost }} -->

<script>
        function neg_to_pos(num)
        {
        return Math.abs(num);
        }
</script>
<h4>
{% if cost > 0 %}
You won: ${{ cost }}
{% else %}
You lost: $<script> document.write(neg_to_pos({{ cost }}));</script>
{% endif %}
</h4>
<br>
<a href="/delete_all")>Play Again</a>
{% endblock body %}