{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="text-left" style="display:inline-block;vertical-align:middle;">
            <h5>Picked Numbers: </h5>
            {% for ticket in tickets %}
            <li>{{ ticket.number1 }} {{ ticket.number2 }} {{ ticket.number3 }}</li>
            {% endfor %}
        </ul>
    </div>
</div>


<br>

<!-- GuessNums
{% for num in guessed_nums %}
{{ num }}
{% endfor %} -->
<br>
Wining Numbers:
{% for num in winning_nums %}
{{ num }}
{% endfor %}

<br>
Number of Wins: {{ win }}
<br>
<a href="/delete_all")>Play Again</a>
{% endblock body %}