{% extends "base.html" %}

{% block body %}
<form action="/tickets/{{ ticket._id }}", method="POST">
<p1>{{ ticket.number1 }}</p1>
<p>{{ ticket.number2 }}</p>
<p>{{ ticket.number3 }}</p>
Number1:
<input id='number1' type='number' name='number1' value = '{{ ticket.number1 }}' />
<input id='number1' type='number' name='number2' value = '{{ ticket.number2 }}' />
<input id='number1' type='number' name='number3' value = '{{ ticket.number3 }}' />

<button type="submit">Save</button>
</form>
{% endblock body %}