{% extends "base.html" %}

{% block body %} 
<p id="num"></p>
<button onclick="random()">Random</button>

<script>
 function random(){

document.getElementById("num").innerHTML = Math.floor(Math.random() * 10) + 1;
}
</script>

<form action="/get_form_data" method="post">
    Number 1: 
    <input type="number" name="number1">
    <input type="submit" value="Add Number">
</form>

<a href="/get_random_num">Add Random Num</a><br>
<a href="/view_ticket">View Ticket Page</a><br>
<a href="/check_ticket">Check Ticket</a>
{% endblock body %}